{% extends 'layout.html' %}{% load static %}

{% block main %}
        <div class="busi">
            <h1>Business</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam autem quis temporibus, adipisci tempore dolor.</p>
            <h6>BLOG > BUSINESS</h6>
        </div>
        <div class="busin">
            <div class="topsix">
                <div class="tstw">
                    <div class="impic">
                    <img src="{% static 'images/Bunny.jpg' %}" alt="bunny" width="100%" height="250px">
                    </div>
                    <div class="mockup">
                    <h5>BUSINESS</h5>
                    <h1>Top 6 free website mockup tools 2022</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, tenetur officia. Incidunt nihil architecto voluptas quae? Numquam quibusdam facere, atque debitis molestiae beatae perspiciatis porro?</p>
                    </div>
                </div>
                <div class="tstw">
                    <div class="impic">
                    <img src="{% static 'images/Bunny.jpg' %}" alt="bunny" width="100%" height="250px">
                    </div>
                    <div class="mockup">
                    <h5>BUSINESS</h5>
                    <h1>Step-by-step guide to choosinggreat font pairs</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, tenetur officia. Incidunt nihil architecto voluptas quae? Numquam quibusdam facere, atque debitis molestiae beatae perspiciatis porro?</p>
                    </div>
                </div>
                <div class="tstw">
                    <div class="impic">
                    <img src="{% static 'images/Bunny.jpg' %}" alt="bunny" width="100%" height="250px">
                    </div>
                    <div class="mockup">
                    <h5>BUSINESS</h5>
                    <h1>Ten free foogle font that you should use</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, tenetur officia. Incidunt nihil architecto voluptas quae? Numquam quibusdam facere, atque debitis molestiae beatae perspiciatis porro?</p>
                    </div>
                </div>
                <div class="tstw">
                    <div class="impic">
                    <img src="{% static 'images/Bunny.jpg' %}" alt="bunny" width="100%" height="250px">
                    </div>
                    <div class="mockup">
                    <h5>BUSINESS</h5>
                    <h1>What did I learn from doing 50+ design sprints</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, tenetur officia. Incidunt nihil architecto voluptas quae? Numquam quibusdam facere, atque debitis molestiae beatae perspiciatis porro?</p>
                    </div>
                </div>
            </div>
            <div class="catag">
                <div class="sbet">
                    <h1>Categories</h1>
                    <div class="tuce" id="tuc">
                        <!-- <div></div> -->
                        <h2>&#9997;Startup</h2>
                    </div>
                    <div class="tuce">
                        <!-- <div></div> -->
                        <h2>&#9978;Business</h2>
                    </div>
                    <div class="tuce">
                        <!-- <div></div> -->
                        <h2>&#9970;Economy</h2>
                    </div>
                    <div class="tuce">
                        <!-- <div></div> -->
                        <h2>&#8986;Technolgy</h2>
                    </div>
                </div>
                <div class="allags">
                    <h1>All Tags</h1>
                    <div class="best">
                        <p>Business</p>
                    </div>
                    <div class="best">
                        <p>Experience</p>
                    </div>
                    <div class="best">
                        <p>Screen</p>
                    </div>
                    <div class="best">
                        <p>Technolgy</p>
                    </div>
                    <div class="best">
                        <p>Marketing</p>
                    </div>
                    <div class="best">
                        <p>Life</p>
                    </div>
                </div>
            </div>
        </div>

{% endblock main %}