{% extends 'layout.html' %}{% load static %}

{% block main %}
    <div class="stup">
            <div class="auth-info">
                <img src="{% static 'images/Magicsky.jpg' %}" alt="User photo">
                <div>
                <p><strong>Jonathan Vallem</strong></p>
                <p class="loca">New York, USA</p>
                </div>
            </div>
            <h1>Step-by-step guide to choosing great font pairs</h1>
            <h4>&#9997;Startup</h4>
        </div>
        <img src="{% static 'images/Coco.jpg' %}" alt="Coco" width="100%" height="350px" class="cocc">
        <div class="lore">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, nam? Culpa quibusdam id incidunt earum!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum dolorem nesciunt similique eum expedita aut distinctio quidem obcaecati. Reiciendis temporibus explicabo aspernatur delectus numquam a provident ullam aliquam quas corrupti in mollitia voluptatem consectetur perspiciatis vero, molestias quaerat atque vel dicta, nemo blanditiis ea, excepturi consequuntur culpa! Tempora, similique omnis.</p>
            <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur id eaque magni nihil dolorem ex!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatibus, dolore vitae ab eos mollitia debitis iusto officia quia magnam maiores praesentium assumenda consequatur blanditiis ad tenetur soluta id provident illo! Quas atque totam soluta sunt error accusantium ex dolorem ducimus aliquam doloremque veniam quisquam exercitationem, voluptatem nostrum ad sint.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos voluptatum vel nam culpa, maiores dolor quo explicabo vitae adipisci consectetur iusto eius autem sequi ex ducimus tempora cumque omnis blanditiis ullam voluptate enim aliquid. Ratione officiis ut cupiditate accusantium blanditiis rem quas, magni natus illum dolorem sequi beatae repudiandae voluptates, nihil iste libero. Numquam placeat, itaque ab deleniti ea dolores nulla dignissimos vero esse velit! Libero deleniti deserunt optio quibusdam corrupti vero aut est. Illo aliquid tempora delectus, hic tenetur maiores quisquam ab temporibus doloribus? Magnam dolorem voluptatem dolor possimus!</p>
            <ul>
                <li><h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit?</h3></li>
                <li><h3>Necessitatibus officiis error neque minima saepe.</h3></li>
                <li><h3>Aspernatur officiis at tenetur nesciunt excepturi illum, rerum saepe.</h3></li>
            </ul>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus provident recusandae laudantium ducimus repellat vel, iste delectus ipsam aliquid distinctio nihil incidunt eveniet, similique maiores! Fugit molestias minima mollitia aperiam, ipsa magnam ut dolorum odit fugiat illum eaque quasi assumenda in enim accusantium perferendis veritatis consequatur sint dicta commodi at hic ad doloribus omnis. Libero atque ipsa corporis in ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquam nisi, saepe exercitationem quasi sequi ad quo quos quisquam eius?</p>
            <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem quo nobis possimus at libero et autem minus, tenetur rerum harum.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum minus consequatur est, neque atque odio sequi debitis voluptatibus repudiandae, eveniet laborum officia. Harum dolores aspernatur quo pariatur sunt velit iure, voluptatem necessitatibus est aliquam autem maxime ipsum minima alias saepe nisi sit neque incidunt? Nesciunt maiores cum dicta libero ratione rem eaque nihil deserunt. Iure quae minima, inventore dolore eaque, libero nobis nostrum officiis nisi maiores iste neque minus obcaecati?</p>
        </div>
        <h2 style="text-align: center;">What to read next</h2>
        <div class="cocc">
            <div class="sett">
                <img src="{% static 'images/Triplet.jpg' %}" alt="love" width="100%" height="350px">
                <p>By <span>John Doe</span> | May 23, 2022</p>
                <h1>A UX Case Study Creating a Studious Environment for Students:</h1>
                <p>Lsit amet consectetur adipisicing elit. Minima repellat aperiam velit dolores dolorem nostrum perferendis odit quasi ducimus exercitationem consequuntur delectus cum odio quod, architecto, alias quos aut quam!</p>
            </div>
            <div class="sett">
                <img src="{% static 'images/Silkfly.jpg' %}" alt="love" width="100%" height="350px">
                <p>By <span>John Doe</span> | May 23, 2022</p>
                <h1>A UX Case Study Creating a Studious Environment for Students:</h1>
                <p>Lsit amet consectetur adipisicing elit. Minima repellat aperiam velit dolores dolorem nostrum perferendis odit quasi ducimus exercitationem consequuntur delectus cum odio quod, architecto, alias quos aut quam!</p>
            </div>
            <div class="sett">
                <img src="{% static 'images/Flyprincess.jpg' %}" alt="love" width="100%" height="350px">
                <p>By <span>John Doe</span> | May 23, 2022</p>
                <h1>A UX Case Study Creating a Studious Environment for Students:</h1>
                <p>Lsit amet consectetur adipisicing elit. Minima repellat aperiam velit dolores dolorem nostrum perferendis odit quasi ducimus exercitationem consequuntur delectus cum odio quod, architecto, alias quos aut quam!</p>
            </div>
        </div>
        <hr>
        <div class="join">
            <p><strong>Join our team to be a part of our story</strong></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore autem necessitatibus, veritatis ullam nihil quia</p>
            <button class="read-btn"><a href="#">Join Now</a></button>
        </div>
{% endblock main %}