{% extends 'layout.html' %}{% load static %}

{% block main %}
        <div class="uss">
            <div class="abou">  
                <h3>ABOUT US</h3>
                <h1>We are a team of content writers who share their learnings</h1>
            </div>
            <div class="bout">   
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis accusamus consequuntur, voluptatum, dolores ex perspiciatis numquam autem voluptas officiis magni, quia maxime eos ea. Cum tenetur ea ipsa delectus perspiciatis? Odio fugit corrupti officiis a quos necessitatibus, odit aliquam voluptas corporis sequi labore laudantium quod.</p>
            </div>
        </div>
        <img src="{% static 'images/Crystalfly.jpg' %}" alt="group" class="upp">
        <div class="violet">
            <div class="about">
                <p>ABOUT US</p>
                <h2>We are a community of content writers who share their learnings</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores totam mollitia maxime iure. Quisquam iste quasi eveniet, et omnis dignissimos.</p>
                <a href="#">Read More></a>
            </div>
            <div class="mission">
                <p>OUR MISSION</p>
                <h2>Creating valueable content for creatives all around the world</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium porro placeat dolore. Maiores nihil, quod iusto molestias at amet debitis doloribus magnam, enim minus ipsum odio natus aut dolore, quisquam exercitationem? Quae ducimus voluptas dolorem aperiam, suscipit vero corporis ullam.</p>
            </div>
        </div>
        <div class="team">
            <h1>Our team of creatives</h1>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quibusdam deserunt facilis!</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste soluta recusandae porro quaerat totam dicta nobis ab architecto inventore quos, aliquid quas. Perspiciatis distinctio a quidem iusto, illo pariatur quia dicta corrupti alias esse necessitatibus labore nostrum ducimus tempore, quibusdam culpa ut nobis facilis quaerat molestiae! Sunt maiores quo dicta.</p>
        </div>
        <div class="start">
            <h1>Why we started this Blog</h1>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quibusdam deserunt facilis!</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste soluta recusandae porro quaerat totam dicta nobis ab architecto inventore quos, aliquid quas. Perspiciatis distinctio a quidem iusto, illo pariatur quia dicta corrupti alias esse necessitatibus labore nostrum ducimus tempore, quibusdam culpa ut nobis facilis quaerat molestiae! Sunt maiores quo dicta.</p>
        </div>
        <div class="authors">
            <h1 class="list">List of Authors</h1>
            <div class="auth">
                <div class="auth-item"><a href="{% url 'post' %}">
                    <img src="{% static 'images/Beautybutter.jpg' %}" alt="girl" width="150" height="150">
                    <h1>Floyd Miles</h1>
                    <p>Content Writer @Company</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div></a>
                    <!-- <div>&#9824; &#9827; &#9829; &#9830;</div> -->
                </div>
                <div class="auth-item" ><a href="{% url 'post' %}">
                    <img src="{% static 'images/Booklove.jpg' %}" alt="girl" width="150" height="150">
                    <h1>Dianne Russell</h1>
                    <p>Content Writer @Company</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div></a>
                    <!-- <div>&#9824; &#9827; &#9829; &#9830;</div> -->
                </div>
                <div class="auth-item"><a href="{% url 'post' %}">
                    <img src="{% static 'images/Diva.jpg' %}" alt="girl" width="150" height="150">
                    <h1>jenny Wilson</h1>
                    <p>Content Writer @Company</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div></a>
                    <!-- <div>&#9824; &#9827; &#9829; &#9830;</div> -->
                </div>
                <div class="auth-item"><a href="{% url 'post' %}">
                    <img src="{% static 'images/Crystalfly.jpg' %}" alt="girl" width="150" height="150">
                    <h1>Leslie Alexander</h1>
                    <p>Content Writer @Company</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div></a>
                    <!-- <div>&#9824; &#9827; &#9829; &#9830;</div> -->
                </div>
                <div class="auth-item" ><a href="{% url 'post' %}">
                    <img src="{% static 'images/Booklove.jpg' %}" alt="girl" width="150" height="150">
                    <h1>Dianne Russell</h1>
                    <p>Content Writer @Company</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div></a>
                    <!-- <div>&#9824; &#9827; &#9829; &#9830;</div> -->
                </div>
                <div class="auth-item"><a href="{% url 'post' %}">
                    <img src="{% static 'images/Crystalfly.jpg' %}" alt="girl" width="150" height="150">
                    <h1>Leslie Alexander</h1>
                    <p>Content Writer @Company</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div></a>
                    <!-- <div>&#9824; &#9827; &#9829; &#9830;</div> -->
                </div>
                <div class="auth-item"><a href="{% url 'post' %}">
                    <img src="{% static 'images/Beautybutter.jpg' %}" alt="girl" width="150" height="150">
                    <h1>Floyd Miles</h1>
                    <p>Content Writer @Company</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div></a>
                    <!-- <div>&#9824; &#9827; &#9829; &#9830;</div> -->
                </div>
                <div class="auth-item"><a href="{% url 'post' %}">
                    <img src="{% static 'images/Diva.jpg' %}" alt="girl" width="150" height="150">
                    <h1>jenny Wilson</h1>
                    <p>Content Writer @Company</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div></a>
                    <!-- <div>&#9824; &#9827; &#9829; &#9830;</div> -->
                </div>
            </div>
        </div>
        <div class="join">
            <p><strong>Join our team to be a part of our story</strong></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore autem necessitatibus, veritatis ullam nihil quia</p>
            <button class="read-btn"><a href="{% url 'contact' %}">Join Now</a></button>
        </div>

{% endblock main %}