{% extends 'layout.html' %}

{% block main %}
    <div class="con">
            <h2>CONTACT US</h2>
            <h1>Let's Start a Conversation</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam veritatis unde facilis ipsam a harum est sed repudiandae asperiores ipsa? Obcaecati, ipsa natus. Distinctio minima nobis saepe adipisci facilis possimus!</p>
        </div>

        <div class="purp">
            <div class="work">
                <p>Working hours</p>
                <hr>
                <h2>Monday To Friday</h2>
                <h2>9:00 AM to 8:00 PM</h2>
                <p>Our Support Team is available 24/7</p>
            </div>
            <div class="hello">
                <p>Contact Us</p>
                <hr>
                <h2>020 7993 2905</h2>
                <p>hello@finsweet.com</p>
            </div>
        </div>
        <div class="input">
            <input type="text" placeholder="Full Name" class="inp">
            <input type="email" placeholder="Your Email" class="inp">
            <input type="text" placeholder="Query Related" class="inp">
            <input type="text" placeholder="Message" class="inp1">
            <button>Send Message</button>
        </div>


{% endblock main %}